/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/footer.css");
/* Utilities */
body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(52, 93, 126,0.1);
}

h1, h2, h3, h4 {
  font-family: 'Courier New', Courier, monospace;
}

a {
  text-decoration: none;
}

/* Custom design below! */
